.root{
    -fx-font-family: "Open Sans";
    -fx-text-fill: bblue;
    -fx-background-color: #F1F1F1;
    bwhite:  #F1F1F1;
    bblue:  #012D5A;
    bblack:  #151515;
    blightblue: #98AABC;
    byellow: #F0C747;
}

.borderpane{
    -fx-pref-height: 900;
    -fx-pref-width: 1600;
    -fx-scale-shape: true;
    -fx-background-color: #F1F1F1;
}

.text{
    -fx-text-fill: #151515;
}

.input-field {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-pref-height: 55;
    -fx-background-color: #f1f1f1;
}

.blue-styled-button {
    -fx-pref-width: 100;
    -fx-pref-height: 60;

    -fx-font-size: 20;
    -fx-text-fill: #f1f1f1;
    -fx-font-weight: bold;
    -fx-background-color: #012D5A;
    -fx-background-radius: 10;
}

.hollow-styled-button {
    -fx-pref-width: 100;
    -fx-pref-height: 50;

    -fx-font-size: 20;
    -fx-text-fill: #012D5A;
    -fx-font-weight: bold;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 20;
}

.hollow-styled-button:hover {
    -fx-font-size: 20;
    -fx-border-width: 2;
    -fx-border-color: #151515;
    -fx-border-radius: 10;
}

.hollow-styled-button:pressed {
    -fx-font-size: 20;
    -fx-background-color: #012D5A;
    -fx-text-fill: #F1F1F1;
}

.label{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-font-family: "Open Sans";
    -fx-text-fill: #012D5A;
    -fx-text-alignment: center;
}

#title {
    -fx-font-size: 32;
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
    -fx-text-fill: #012D5A;
}