.navpane{
    -fx-pref-height: 150;
    -fx-pref-width: 1600;
    -fx-background-color: #012D5A;
    -fx-scale-shape: true;
}

.button {
    -fx-text-alignment: center;
    -fx-background-color: #98AABC;
    -fx-text-fill: #012D5A;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-pref-width: 500;
    -fx-pref-height: 80;
    -fx-border-radius: 10;
    -fx-padding: 0, 0, 0, 200;
}

.button:hover {
    -fx-background-color: #F0C747;
    -fx-font-size: 20;
}

.arrow {
    -fx-background-color: transparent;
}

#home {
    -fx-graphic: url("edu/wpi/teamA/images/icons/bwh-logo-white.png");
    -fx-background-image: url("edu/wpi/teamA/images/icons/bwh-logo-white.png");
}

#home:hover {
    -fx-graphic: url("edu/wpi/teamA/images/icons/bwh-logo-yello.png");
}

.text{
    -fx-background-color: #98AABC;
    -fx-text-fill: #012D5A;
    -fx-font-size: 20;
}

/* this part is from  default stiles fxrt.jar!/com/sun/javafx/scene/control/skin/caspian/caspian.css */

#changed {
    -fx-background-color: transparent;
}

#changed:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

#changed:showing > .arrow-button {
    -fx-color: -fx-pressed-base;
}

#changed:hover > .arrow-button > .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

